@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

$theme-font: "Roboto", sans-serif;
$theme-color: #e31b6d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $theme-font;
  letter-spacing: 1.5px;
}

.link {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

// mobile--------------------
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1b242f;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  img {
    height: 3rem;
  }
  .menu-icon {
    color: white;
    font-size: 1.5rem;
  }
  ul {
    display: none;
  }
  .menu {
    margin-right: 1rem;
  }
}
.portfolio {
  margin-top: 1rem;
  text-align: center;
  hr {
    border: black solid 2px;
    margin: 0.5rem 9rem 0;
  }
}

.box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    position: relative;
    width: 345px;
    height: 15rem;
    overflow: hidden;

    &:hover {
      .mask {
        top: 0;
        animation: dropdown 1s;
        animation-fill-mode: forwards;
      }
      .mask {
        position: absolute;
        top: -15rem;
        left: 0;
        width: 345px;
        height: 15rem;
        padding: 1rem;
        text-align: center;

        display: grid;
        grid-template-rows: 1fr 0.5fr 2fr 0.7fr;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        .technology {
          color: $theme-color;
        }
        .btn {
          margin: 1px 100px;

          background-color: rgba(0, 0, 0, 0);
          color: white;
          border: 1px solid $theme-color;
        }
        .description-with-btn {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .btn1 {
            background-color: rgba(0, 0, 0, 0);
            color: white;
            padding: 5px;
            margin-left: 10px;
          }
        }
      }
    }
    .img {
      max-width: 345px;
      max-height: 15rem;
    }
  }
}

.footer {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  margin-top: 2rem;
  background-color: #1b242f;
  padding: 2rem;
  text-align: center;
  .footer-icons {
    width: 50%;
    margin: 0 auto;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    a {
      color: rgb(155, 155, 155);
    }
  }
  p {
    color: rgb(119, 119, 119);
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 48rem) {
  .header {
    ul {
      color: white;
      display: flex;
    }
  }
}

@media only screen and (min-width: 64rem) {
}

@keyframes dropdown {
  0% {
    top: -15rem;
  }
  5% {
    top: 0;
  }
  10% {
    top: -1rem;
  }
  20% {
    top: 0;
  }
  30% {
    top: -0.8rem;
  }
  40% {
    top: 0;
  }
  50% {
    top: -0.6rem;
  }
  60% {
    top: 0;
  }
  70% {
    top: -0.4rem;
  }
  80% {
    top: 0;
  }
  90% {
    top: -0.2rem;
  }
  100% {
    top: 0;
  }
}
